!!!
%html.no-js{lang: "ru-RU"}
  %head
    %title Chemistry Template
    = Haml::Engine.new(File.read('views/layouts/_head.haml')).render
  
  %body#page.page
    = Haml::Engine.new(File.read('views/common/_alerts.haml')).render
    = Haml::Engine.new(File.read('views/layouts/_header.haml')).render
    
    %main#main.main{role: "main"}
      %section{role: "region", aria: {label: "Index"}}
        .pt-4.pb-4
          .ctn

            %form.form.js-form{action: "#"}
              
              .mb-2
                .grid
                  .grid-i.__grid-3
                    .form-el.form-el__block.form-tx
                      %input.form-el_tag.form-tx_tag{type: "text", placeholder: "Text"}

              .mb-2
                .form-el.form-btn
                  %input.form-el_tag.form-btn_tag{type: "button", value: "Кнопка"}
                  %p.form-el_inner.form-btn_inner Кнопка

              .mb-2
                .grid
                  .grid-i.__grid-3
                    .form-el.form-el__block.form-btn
                      %button.form-el_tag.form-btn_tag{type: "submit"} Отправить
                      %p.form-el_inner.form-btn_inner Отправить

              .mb-2
                .grid
                  .grid-i.__grid-3
                    .form-el.form-el__block.form-tx
                      %input.form-el_tag.form-tx_tag{type: "text", placeholder: "Text"}
              .mb-2
                .grid
                  .grid-i.__grid-6
                    .form-el.form-el__block.form-tx
                      %input.form-el_tag.form-tx_tag{type: "text", placeholder: "Text", value: "Text"}
              
              .mb-2
                .grid
                  .grid-i.__grid-6
                    .form-el.form-el__block.form-textarea
                      %textarea.form-el_tag.form-textarea_tag{placeholder: "Textarea"}

              .mb-2
                .grid
                  .grid-i.__grid-3
                    .form-el.form-el__block.form-select
                      %select.form-el_tag.form-select_tag
                        %option{selected: "selected"} Alpha
                        %option Beta
                        %option Gamma
                        %option Delta
                        %option Epsilon
                        %option Zeta
                        %option Huge, extremely long text in option tag
                      %p.form-el_inner.form-select_inner &nbsp;

              .mb-2
                .grid
                  .grid-i.__grid-3
                    .form-el.form-el__block.form-file
                      %input.form-el_tag.form-file_tag{type: "file"}
                      %p.form-el_inner.form-file_inner Выберите файл...
              
              .mb-2
                .form-el.form-checkbox
                  %input.form-el_tag.form-checkbox_tag{type: "checkbox"}
                .form-el.form-checkbox
                  %input.form-el_tag.form-checkbox_tag{type: "checkbox", checked: "checked"}
              
              .mb-2
                .form-el.form-radio
                  %input.form-el_tag.form-radio_tag{type: "radio", name: "radio"}
                .form-el.form-radio
                  %input.form-el_tag.form-radio_tag{type: "radio", name: "radio"}
                .form-el.form-radio
                  %input.form-el_tag.form-radio_tag{type: "radio", name: "radio"}
              
              



    = Haml::Engine.new(File.read('views/layouts/_footer.haml')).render