!!!
%html.no-js{lang: "ru-RU"}
  %head
    %title Chemistry Template
    = Haml::Engine.new(File.read('views/layouts/_head.haml')).render
  
  %body#page.page
    = Haml::Engine.new(File.read('views/common/_alerts.haml')).render
    = Haml::Engine.new(File.read('views/layouts/_header.haml')).render
    
    %main#main.main{role: "main"}
      %section{role: "region", aria: {label: "Index"}}
        .ctn
          .pt-4.pb-4
            %h3.mb-2
              %span.format-money.format-money__rub.format-money__arial 100000
            
            %h3.rub.rub__arial.mb-2 ла
            
            %p.tx.__xxl.mb-2
              %span.format-money.format-money__rub.format-money__times 100000

            %p.tx.__xxl.rub.rub__times ла

    = Haml::Engine.new(File.read('views/layouts/_footer.haml')).render