!!!
%html.no-js{lang: "ru-RU"}
  %head
    %title Chemistry Template
    = Haml::Engine.new(File.read('views/layouts/_head.haml')).render
  
  %body#page.page
    = Haml::Engine.new(File.read('views/common/_alerts.haml')).render
    = Haml::Engine.new(File.read('views/layouts/_header.haml')).render
    
    %main#main.main{role: "main"}
      %section{role: "region", aria: {label: "Index"}}
        .ctn
          .p-t_4.p-b_4
            %h3.m-b_2
              %span.format-money.__rub.__arial 100000
            
            %h3.rub-arial.m-b_2 ла
            
            %p.tx.__xxl.m-b_2
              %span.format-money.__rub.__times 100000

            %p.tx.__xxl.rub-times.m-b_2 ла

    = Haml::Engine.new(File.read('views/layouts/_footer.haml')).render