@mixin mq($mq) {
  @if $mq == "phone" {
    @media all and (max-width: $mq-phone-max-width) {@content;}
  }
  @if $mq == "tablet" {
    @media all and (min-width: $mq-tablet-min-width) and (max-width: $mq-tablet-max-width) {@content;}
  }
  @if $mq == "desktop" {
    @media all and (min-width: $mq-desktop-min-width) {@content;}
  }
}

// .. Used in development. In production compiled CSS passed through autoprefixer (https://github.com/ai/autoprefixer)
@mixin prefixes($property, $value) {
  -webkit-#{$property}: $value;
     -moz-#{$property}: $value;
      -ms-#{$property}: $value;
       -o-#{$property}: $value;
          #{$property}: $value;
}

@mixin class($name) {
  %#{$name},
  .#{$name} {@content;}
}

@mixin size($w, $h) {
  width:  #{$w}px;
  height: #{$h}px;
}

@mixin linear-gradient($direction, $start, $end) {
  background: $start;
  @if ($direction == "horizontal") {
    background: -webkit-linear-gradient(left, $start 0%, $end 100%);
    background:         linear-gradient(to right, $start 0%, $end 100%);
  }
  @else if ($direction == "vertical") {
    background: -webkit-linear-gradient(top, $start 0%, $end 100%);
    background:         linear-gradient(to bottom, $start 0%, $end 100%);
  }
}