.form_el {
  &[disabled] {
    background: #eee;
    opacity: .5;
  }
  &[data-valid="true"] {
    border-color: fade-out(green, .3);
    background: fade-out(green, .9);
    color: green;
  }
  &[data-valid="false"] {
    border-color: fade-out(red, .3);
    background: fade-out(red, .9);
    color: red;
  }
}

  @if $focus-style == true {
    .form_el__focus {@extend %focus-style;}
  }
  
  .form_el_tag[disabled] {cursor: no-drop;}

//
// .. Label
//
.form_label__checkbox {
  cursor: pointer;
  .form_label_inner {margin-left: 2.4rem;}
}

//
// .. Legend
//
.form_legend {@extend %delta;}

//
// .. Button
//
.form_btn {
  padding: 0 1.5rem;
  height: 3rem;
  border: 1px solid #ccc;
  border-radius: .3rem;
  cursor: pointer; 
  text-align: center;
  @include linear-gradient(vertical, #eee, #ddd);
  &:not([disabled]):hover  {box-shadow: inset 0 0 .3em rgba(0,0,0,.1);}
  &:not([disabled]):active {@include linear-gradient(vertical, #ddd, #eee);}
}
  .form_btn_inner {line-height: 2.8rem;}

//
// .. Text
//
.form_tx {
  padding: 0 .75rem;
  height: 3rem;
  border: 1px solid #ccc;
  border-radius: .3rem;
  background: #fff;
}

//
// .. Textarea
//
.form_textarea {
  padding: .5rem .75rem;
  height: 9rem;
  border: 1px solid #ccc;
  border-radius: .3rem;
  background: #fff;
}

//
// .. Checkbox
//
.form_checkbox {
  border: 1px solid #ccc;
  border-radius: .3rem;
  background: #fff;
  cursor: pointer;
  @include size(1.6rem, 1.6rem);
  &[data-checked="true"]::after {
    background: #666;
    border-radius: .1rem;
    content: "";
    @include size(.6rem, .6rem);
  }
}

//
// .. Radio
//
.form_radio {
  border: 1px solid #ccc;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  @include size(1.6rem, 1.6rem);
  &[data-checked="true"]::after {
    background: #666;
    border-radius: 50%;
    content: "";
    @include size(.6rem, .6rem);
  }
}

//
// .. Select
//
.form_select {
  height: 3rem;
  border: 1px solid #ccc;
  border-radius: .3rem;
  background: #fff;
  cursor: pointer;
  &::after {
    right: 1rem;
    color: #ccc;
    content: "\f0d7";
    font-family: FontAwesome;
  }
}
  .form_select_inner {
    margin: 0 2.8rem 0 .75rem;
    line-height: 2.8rem;
  }

//
// .. File
//
.form_file {
  height: 3rem;
  border: 1px solid #ccc;
  border-radius: .3rem;
  background: #fff;
  cursor: pointer;
  &[disabled] {cursor: no-drop;}
  &::after {
    right: .6rem;
    color: #ccc;
    content: "\f07c";
    font-family: FontAwesome;
  }
}
  .form_file_inner {
    margin: 0 2.8rem 0 .75rem;
    line-height: 2.8rem;
  }