%form-el-tag-stretch {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  @include size(100%, 100%);
}

textarea {resize: none;}

//
// .. .form-el
//
.form-el {
  position: relative;
  display: inline-block;
  @include prefixes(box-sizing, border-box);
}

.form-el__block {
  display: block;
  width: 100%;
}

@if $focus-style == true {
  .form-el__focus {@extend %focus-style;}
}
  
  .form-el_tag {
    font-family: inherit;
    @include prefixes(box-sizing, border-box);
    @if $focus-style == true {
      &:focus {@extend %focus-style;}
    }
  }

  .form-el_inner {
    overflow: hidden;
    white-space: nowrap;
  }

//
// .. Button
//
.form-btn {
  padding: 0 1.5rem;
  height: 3rem;
  border: 1px solid #ccc;
  border-radius: .3rem;
  text-align: center;
  @include linear-gradient(vertical, #eee, #ddd);
  &:not([disabled]):hover  {box-shadow: inset 0 0 .3em rgba(0,0,0,.1);}
  &:not([disabled]):active {@include linear-gradient(vertical, #ddd, #eee);}
}
  .form-btn_tag {
    cursor: pointer;
    font-size: 0;
    @extend %form-el-tag-stretch;
  }

  .form-btn_inner {
    font-size: inherit;
    line-height: 2.8rem;
  }

//
// .. Text
//
.form-tx {
  padding: 0 .75rem;
  height: 3rem;
  border: 1px solid #ccc;
  border-radius: .3rem;
  background: #fff;
}
  .form-tx_tag {
    padding: inherit;
    font-size: inherit;
    line-height: inherit;
    @extend %form-el-tag-stretch;
  }

//
// .. Textarea
//
.form-textarea {
  padding: .5rem .75rem;
  height: 9rem;
  border: 1px solid #ccc;
  border-radius: .3rem;
  background: #fff;
}
  .form-textarea_tag {
    padding: inherit;
    font-size: inherit;
    line-height: inherit;
    @extend %form-el-tag-stretch;
  }

//
// .. Checkbox
//
.form-checkbox {
  border: 1px solid #ccc;
  border-radius: .3rem;
  background: #fff;
  @include size(1.6rem, 1.6rem);
  &[data-checked="true"]::after {
    color: #666;
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-align: center;
    @extend %form-el-tag-stretch;
  }
}
  .form-checkbox_tag {
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    @extend %form-el-tag-stretch;
  }

//
// .. Radio
//
.form-radio {
  border: 1px solid #ccc;
  border-radius: 50%;
  background: #fff;
  @include size(1.6rem, 1.6rem);
  &[data-checked="true"]::after {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #666;
    border-radius: 50%;
    content: "";
    @include size(.6rem, .6rem);
    @include prefixes(transform, translate(-50%, -50%));
  }
}
  .form-radio_tag {
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    @extend %form-el-tag-stretch;
  }


//
// .. Select
//
.form-select {
  height: 3rem;
  border: 1px solid #ccc;
  border-radius: .3rem;
  background: #fff;
  &::after {
    position: absolute;
    top: 50%;
    right: 1rem;
    z-index: 1;
    color: #ccc;
    content: "\f0d7";
    font-family: FontAwesome;
    @include prefixes(transform, translateY(-50%));
  }
}
  .form-select_tag {
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    @extend %form-el-tag-stretch;
  }

  .form-select_inner {
    margin: 0 2.8rem 0 .75rem;
    font-size: inherit;
    line-height: 2.8rem;
  }

//
// .. File
//
.form-file {
  height: 3rem;
  border: 1px solid #ccc;
  border-radius: .3rem;
  background: #fff;
  cursor: pointer;
  &::after {
    position: absolute;
    top: 50%;
    right: .6rem;
    z-index: 1;
    color: #ccc;
    content: "\f07c";
    font-family: FontAwesome;
    @include prefixes(transform, translateY(-50%));
  }
}
  .form-file_tag {
    position: absolute;
    z-index: 2;
    opacity: 0;
    @include size(0, 0);
  }

  .form-file_inner {
    margin: 0 2.8rem 0 .75rem;
    font-size: inherit;
    line-height: 2.8rem;
  }